<table>
    <tbody class="table table-borderd" >
        <tr *ngFor="let product of productList ; let i = index">
            <td>{{i+ 1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            
            <td>
            <button>
                Info
            </button>
            <button routerLink="/edit/{{product.id}}">edit</button>
            <button (click)="onRemoveItem(product.id!)">remove</button>
        </td>
        </tr>
    </tbody>
</table>
